@keyframes lighting {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  7% {
    opacity: 0.3;
  }
  9% {
    opacity: 1;
  }
  11% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }
  22% {
    opacity: 1;
  }
  24% {
    opacity: 0.4;
  }
  26% {
    opacity: 1;
  }
  28% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }
  52% {
    opacity: 0.8;
  }
  54% {
    opacity: 0.2;
  }
  56% {
    opacity: 1;
  }
  58% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }
  83% {
    opacity: 1;
  }
  85% {
    opacity: 0.5;
  }
  87% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}